Lib/Service References/PaymentManger/BAJEnterpriseContext.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://enterprise.olp.baj.com.sa/Infrastructure/BAJEnterpriseContext" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://enterprise.olp.baj.com.sa/Infrastructure/BAJEnterpriseContext" xml:lang="en" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>
			This schema describes the EnterpriseContext.
		</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="ProcessContextId_Type">
    <xsd:annotation>
      <xsd:documentation>
			This will be a universal message identifier with the combination of 
								1.	Requester Code
								2.	Unique Number generated by Requester (6 digit)
								3.	Timestamp in milliseconds
		</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="50" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ApplicationContextId_Type">
    <xsd:annotation>
      <xsd:documentation>
			Name of the requested application. Possible values are
							1:BAJ OLP System
							8:Merchant System
							
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int" />
  </xsd:simpleType>
  <xsd:simpleType name="BusinessContextId_Type">
    <xsd:annotation>
      <xsd:documentation>This identifier unique used to uniquely identify the type of business request.
			  Below given are possible values.
					CR ??? Consumer Registration and Management
					MR ??? Merchant Registration and Management
					CO ??? Consumer Checkout and Payment
					RS ??? Reconciliation and Settlement
					RF ??? Refund Payment
					DP ??? Consumer/Merchant Dispute
					TM ??? Service Support
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RequesterCode_Type">
    <xsd:annotation>
      <xsd:documentation>RequesterCode</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MachineIPAddress_Type">
    <xsd:annotation>
      <xsd:documentation>Contains the IP Address of the machine.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="23" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UserPrincipleName_Type">
    <xsd:annotation>
      <xsd:documentation>The user name that is used to log onto a machine.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RequestedTimestamp_Type">
    <xsd:annotation>
      <xsd:documentation>The user name that is used to log onto a machine.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="ChannelId_Type">
    <xsd:annotation>
      <xsd:documentation>The unique Identifier for the channel used to initiate the request.
			Code used to determine the channel. Possible values are
					1 - Web browser
					2 - Mobile browser
					3 - ATM Kisiok
					4 - Smartphone App
					5 - Batch application
			</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ContextInfo">
    <xsd:annotation>
      <xsd:documentation>Contains information about the context within which the request is executing.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="ProcessContextId" type="ProcessContextId_Type" />
      <xsd:element minOccurs="1" maxOccurs="1" name="businessContextId" type="BusinessContextId_Type" />
      <xsd:element minOccurs="1" maxOccurs="1" name="applicationContextId" type="ApplicationContextId_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequestOriginator">
    <xsd:annotation>
      <xsd:documentation>Contains information about where and when the request was originated.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="requesterCode" type="RequesterCode_Type" />
      <xsd:element minOccurs="1" maxOccurs="1" name="machineIPAddress" type="MachineIPAddress_Type" />
      <xsd:element minOccurs="1" maxOccurs="1" name="userPrincipleName" type="UserPrincipleName_Type" />
      <xsd:element minOccurs="1" maxOccurs="1" name="requestedTimestamp" type="RequestedTimestamp_Type" />
      <xsd:element minOccurs="1" maxOccurs="1" name="channelId" type="ChannelId_Type" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BAJEnterpriseContext_Type">
    <xsd:annotation>
      <xsd:documentation>Contain enterprise specific information that is required on every request.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="contextInfo" type="ContextInfo" />
      <xsd:element minOccurs="1" maxOccurs="1" name="requestOriginator" type="RequestOriginator" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="enterpriseContext" type="BAJEnterpriseContext_Type" />
</xsd:schema>